{% extends "base.html" %}
{% block title %}contactos{% endblock %}

{% block content %}
<h2>¿Está seguro de eliminar este contacto?</h2>
<table class="table">
    <thead>
        <th>Nombre</th>
        <th>relacion</th>
        <th>telefono</th>

      </thead>
      <tbody> 
        <tr class="table-danger">
            <td>{{ contacto.nombre }}</td>
            <td>{{ contacto.relacion }}</td>
            <td>{{ contacto.telefono }}</td>
        </tr>

    </tbody>
  </table>
  <form action="{{ url_for('eliminar_contacto', id=id_contacto) }}" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger btn-sm">Eliminar</button>
  <!-- <button class="btn btn-danger btn-sm" onclick="eliminarCarga('{{ id_carga }}')">Eliminar</button> -->
{% endblock %}