{% extends "base.html" %}
{% block title %}Cargas{% endblock %}

{% block content %}
<h2>Sus cargas familiares:</h2>
      <hr>
      <table class="table">
        <thead>
            <th>Nombre</th>
            <th>Parentesco</th>
            <th>Sexo</th>
            <th>RUT familiar</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            {% for carga_familiar in cargas_familiares %}  
            <tr>
                <td>{{ carga_familiar.nombre }}</td>
                <td>{{ carga_familiar.parentesco }}</td>
                <td>{{ carga_familiar.sexo }}</td>
                <td>{{ carga_familiar.rut_familiar }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ url_for('actualizar_cargas', id_carga=carga_familiar.id) }}">Actualizar</a>
                    <a class="btn btn-danger btn-sm" href="{{ url_for('confirmar_eliminar_carga', id_carga=carga_familiar.id) }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      
      {% endblock %}