{% extends "base.html" %}
{% block title %}Perfil del trabajador{% endblock %}

{% block content %}
<div class="container">
    <h2>Agregar Contactos de emergencia</h2>
    <hr>
    <form action="{{ url_for('actualizar_contactos', id_contacto = contacto.id) }}" method="POST"> <!--Linkeamos con el @app.route('random'): -- def listar_contactos():... que vendria siendo   @app.route('/perfil_trabajador/cargas', methods=['GET', 'POST','DELETE'])-->
        <label for="nombre_txt" class="form-label">Nombre: </label>
        <input class="form-control" type="text" name="nombre" required="required" placeholder="Nombre Completo..." id="nombre_txt" aria-label="default input example" value="{{contacto.nombre}}">
        <label for="relacion_txt" class="form-label">relacion: </label>
        <input class="form-control" type="text" name="relacion" required="required" placeholder="relacion..." id="relacion_txt" aria-label="default input example" value="{{contacto.relacion}}">
        <label for="telefono_txt" class="form-label">telefono: </label>
        <input class="form-control" type="text" name="telefono" required="required" placeholder="telefono..." id="telefono_txt" aria-label="default input example" value="{{contacto.telefono}}">
        <input type="submit" value="Agregar">
    </form>
</div>
{% endblock %}