{% extends "base.html" %}
{% block title %}Listar Usuarios{% endblock %}

{% block content %}
    
    
    
    <h1>Bienvenido al perfil del personal de RRHH</h1>
    <div class="container"></div>
   <!--  <div class="card">
        <div class="card-header">
          Listar Usuarios
        </div>
     <div class="card-body"> 
          <h5 class="card-title">Muestra los usuarios registrados en el sistema</h5>
          <p class="card-text">Una vez listados se pueden editar los datos </p>
          <a href="{{url_for('bp.listar_usuarios')}}" class="btn btn-primary">Agregar</a>
        </div>
      </div>   Esta funcion no estaba incluida en las historias de usuario, por lo tanto no está completamente pulida-->  

    <div class="card">
        <div class="card-header">
          Agregar usuario
        </div>
        <div class="card-body">
          <h5 class="card-title">Registrar trabajador en la base de datos</h5>
          <p class="card-text">Los datos de contacto de emergencia y cargas familiares son opcionales</p>
          <a href="{{url_for('bp.agregar_usuario')}}" class="btn btn-primary">Agregar</a>
        </div>
      </div>
    </div>


      {% endblock %}